<mat-toolbar>
  <div class="tool-container">
    <button
      class="toolbar-button"
      mat-raised-button
      routerLinkActive
      [color]="currentLink === link ? 'warn' : ''"
      *ngFor="let link of navLinks"
      (click)="goTo(link.link)"
    >
      {{ link.label }}
    </button>
  </div>
  <!-- Account Menu -->
  <button class="account-icon" mat-button [matMenuTriggerFor]="account">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #account="matMenu">
    <!-- <button mat-menu-item disabled>{{ user.email }}</button> -->
    <button mat-menu-item (click)="logOut()">Cerrar sesión</button>
  </mat-menu>
</mat-toolbar>
