<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> Nuevo usuario </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <table cellspacing="0">
          <!-- Full name -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Dirección Android ID</mat-label>
                <input type="text" matInput formControlName="androidId" />
                <mat-error *ngIf="androidId?.hasError('required')">
                  Una dirección Android ID es <strong>obligatoria</strong>
                </mat-error>
                <!-- Mat error for androidId Pattern -->
                <mat-error *ngIf="androidId?.hasError('pattern')">
                  Android ID no es válido. Debe un valor alfanumérico
                </mat-error>
              </mat-form-field>
            </td>
          </tr>

          <!-- Button - Create Smartwatch -->
          <tr>
            <td>
              <div>
                <button
                  class="cancel"
                  mat-raised-button
                  color="warn"
                  routerLink=".."
                  [disabled]="sending"
                >
                  Cancelar
                </button>
                <button
                  class="create"
                  (click)="createSmartwatch()"
                  mat-raised-button
                  color="primary"
                  type="submit"
                  expand="block"
                  [disabled]="!formGroup.valid || sending"
                >
                  Crear
                </button>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
</div>
