<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> Nuevo usuario </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <table cellspacing="0">
          <!-- Email -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <div>
                  <input
                    type="email"
                    matInput
                    formControlName="email"
                    placeholder="antonio.ruiz@example.com"
                  />
                </div>
                <mat-error *ngIf="email?.hasError('email') && !email?.hasError('required')">
                  Por favor, introduzca un email correcto
                </mat-error>
                <mat-error *ngIf="email?.hasError('required')">
                  Email es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>

          <!-- Full name -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Nombre y apellidos</mat-label>
                <input type="text" matInput formControlName="name" placeholder="Antonio Ruiz" />
                <mat-error *ngIf="name?.hasError('required')">
                  Nombre y apellidos es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>

          <!-- Smartwatch -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Smartwatch</mat-label>
                <mat-select formControlName="smartwatch">
                  <mat-option>Ninguna</mat-option>
                  <mat-option *ngFor="let smartwatch of smartwatches" [value]="smartwatch.id">
                    {{ smartwatch.androidId }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>

          <!-- Button - Create User -->
          <tr>
            <td>
              <div>
                <button
                  class="cancel"
                  mat-raised-button
                  color="warn"
                  routerLink=".."
                  [disabled]="sending"
                >
                  Cancelar
                </button>
                <button
                  (click)="updateUser()"
                  mat-raised-button
                  color="primary"
                  type="submit"
                  expand="block"
                  [disabled]="!formGroup.valid || sending"
                >
                  Actualizar
                </button>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
</div>
