body {
  margin: 0;
}

.successful-color-snackbar {
  color: #fcf6f5ff;
  background: #2bae66ff;
}

.error-color-snackbar {
  color: #fcf6f5ff;
  background: #f04141;
}

/* Table styles */

/* Filter box */
mat-form-field {
  width: 100%;
}

/* Other fields except buttons */
table td,
table th {
  width: 15%;
}

/* Buttons like allow_vehicles, delete in table */
.button-table {
  width: 5%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters {
  width: 500px;
}

.no-margin {
  margin: 0px;
}

/* Put div next to another div */
#wrapper {
  overflow: hidden; /* will contain if #first is longer than #second */
}

#first {
  float: left; /* add this */
}

#second {
  text-align: end;
  overflow: hidden; /* if you don't want #second to wrap below #first */
}

/* Warn button to BLUE Drivers colors */

.mat-button.mat-warn,
.mat-stroked-button.mat-warn {
  color: rgb(235, 68, 90);
}
.mat-button.mat-warn:hover,
.mat-stroked-button.mat-warn:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-warn,
.mat-flat-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
  color: #f0fff3;
  background-color: rgb(235, 68, 90);
}

.mat-icon-button.mat-warn {
  color: rgb(235, 68, 90);
}
